@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

#logo {
    margin: 60px auto;
    text-align: center;
}

.game_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_card_container:not(:last-child) {
    margin-bottom: 40px;
}

.game_card {
    font-size: 0;
    text-align: center;
    display: inline-block;
}

.game_card:not(:last-child) {
    margin-right: 40px;
}

.game_card_text_with_icon {
    display: flex;
    align-items: center;
    padding-top: 12px;
    gap: 16px;
    background-image: url('../images/game_card_bottom_stretch.png');
    height: auto;
}

.game_card_icon {
    margin-left: 20px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;
}

.game_card_text {
    text-align: left;
    display: block;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.game_card_text p {
    margin: 8px 0;
    font-size: 18px;
    font-weight: normal;
}

.game_card_text p strong {
    font-size: 24px;
    font-weight: bold;
}

.game_card_bottom_links {
    margin: 0 auto;
    width: 544px;
    position: relative;
    text-align: center;
}

.game_card_bottom {
    position: relative;
    z-index: 1;
}

.app_store_badge {
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 20px;
}

.play_badge {
    position: absolute;
    z-index: 3;
    top: 12px;
    right: 20px;
}

#bottom {
    margin: 16px;
    text-align: center;
}

#footer_text {
    margin: 20px auto 0 auto;
    font-size: 12px;
    height: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.footer A:link {
    color: white;
    text-decoration: underline
}

.footer A:visited {
    color: white;
    text-decoration: none
}

.footer A:hover {
    color: #f8b028;
    text-decoration: underline
}

.footer a#copyright-info {
    color: white;
    text-decoration: none;
}
