#logo {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
}

.game_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_card_container:not(:last-child) {
    margin-bottom: 40px;
}

.game_card {
    font-size: 0;
    text-align: center;
}

.game_card:not(:last-child) {
    margin-right: 40px;
}

.game_card_bottom_links {
    margin: 0 auto;
    width: 544px;
    position: relative;
    text-align: center;
}

.game_card_bottom {
    position: relative;
    z-index: 1;
}

.app_store_badge {
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 20px;
}

.play_badge {
    position: absolute;
    z-index: 3;
    top: 12px;
    right: 20px;
}

#bottom {
    margin: 16px;
    text-align: center;
}

#footer_text {
    margin: 20px auto 0px auto;
    font-size: 12px;
    height: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.footer A:link {
    color: white;
    text-decoration: underline
}

.footer A:visited {
    color: white;
    text-decoration: none
}

.footer A:hover {
    color: #f8b028;
    text-decoration: underline
}

.footer a#copyright-info {
    color: white;
    text-decoration: none;
}
