html {
    background: #C8B8A8;
}

header {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-size: 13pt;
    height: 100vh;
    justify-content: center;
    margin: 0;
    text-align: center;
}

body {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-size: 13pt;
    height: 100vh;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.bottomlinks {
    bottom: 0;
    color: #FFF;
    font-style: italic;
    padding: 30px;
    position: absolute;
    text-align: center;
}

.bottomlinks a {
    color: #FFF;
    font-style: italic;
}
